@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  --theme-one-one: #CB9DF0;
  --theme-one-two: #F0C1E1;
  --theme-one-three: #ff8615;
  --theme-one-three-dark: #ff7b00;
  --theme-one-four: #ffa653;
  --theme-one-four-light: #ffb56f;
  --theme-one-five: #FDDBBB;
  --theme-one-six: #FFF9BF;
  --theme-one-seven: #fffde7;
}

@layer components {
  .floating-label-wrapper {
    @apply relative;
  }

  .floating-label-wrapper input {
    @apply border-gray-500 border-solid border-[1px] rounded-md p-[5px_10px] bg-transparent w-full text-black;
  }

  .floating-label-wrapper input::placeholder {
    color: transparent;
  }

  .floating-label-wrapper label {
    @apply absolute left-[10px] top-[15px] text-[#666] text-[0.9rem] transition-all duration-200 ease-in-out pointer-events-none;
  }

  .floating-label-wrapper input:focus {
    @apply border-[var(--theme-one-four)] border-solid border-[2px];
  }

  .floating-label-wrapper input:focus+label,
  .floating-label-wrapper input:not(:placeholder-shown)+label {
    @apply top-[-4px] text-[0.9rem] font-[600] text-[var(--theme-one-three)] bg-[var(--theme-one-five)] px-[2px] py-0;
  }

  form>* {
    @apply py-[10px];
  }

  form button {
    @apply rounded-lg py-2 px-6 shadow-[0px_0px_5px_rgba(0,0,0,0.3)];
  }
}